@page
@model EmailMaketing.Web.Pages.Customers.ResetPasswordModel
@using EmailMaketing.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<EmailMaketingResource> L
@{
    Layout = null;
}
<form method="post" asp-page="/Customers/ResetPassword">
    <abp-modal>
        <abp-modal-header></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Customer.Id"/>
            <abp-column size-md="_12">
                        <label for="Movie_ReleaseDate">@L["Password"] <sup>*</sup></label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="password" name="password" data-val="true" data-val-required="The Password field is required." value="">
                            <span class="input-group-text bg-primary" id="spanShow" style="display:block" ><i class="fa fa-eye" aria-hidden="true" id="showEyes"></i></span>
                            <span class="input-group-text" id="spanHiden" style="display:none"><i class="fa fa-eye-slash" aria-hidden="true" id="hideEyes"></i></span>
                        </div>
                         <span class="text-danger field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>
                    </abp-column>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel| AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>